* {
  padding: 0;
  margin: 0;
}
.header,
.cont1,
.cont2,
.cont3,
.cont4,
.footer {
  padding: 0 150px;
}
body {
  font-size: 18px;
  display: flex;
  /* flex: 1; */
  /* justify-content: space-between; */
  flex-direction: column;
}
.header {
  padding-top: 10px;
  align-items: baseline;
  display: flex;
  height: 50px;
  justify-content: space-between;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}
button {
  margin-top: 10px;
  padding: 5px 13px;
  color: white;
  background: #3882f6;
}
li {
  list-style: none;
  display: flex;
  gap: 15px;
}
.cont1 {
  /* margin-top: 30px; */
  /* padding-bottom: 10px; */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  display: flex;
  flex: auto;
  height: 250px;
}
.cont1left {
  flex: 1;
  width: 40%;
}
.cont1right {
  width: 60%;
  height: 150px;
  background: grey;
  flex: 1;
}
.cont2 {
  height: 200px;
}
.box {
  width: 100px;
  height: 100px;
}
.boxi {
  display: flex;
}
.subti {
  display: flex;
  gap: 30px;
}
.cont3 {
  height: 200px;
}
.auth {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 200px;
}
.cont4 {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont4box {
  width: 700px;
  height: 150px;
  background: #3882f6;
}
.cont4flex {
  display: flex;
  gap: 30px;
}

/* .footer { */
/*   align-self: center; */
/* } */
.hea,
.foo {
  color: #ffffff;
  background: #1f2937;
}
.maintext {
  font-size: 48px;
  font-weight: 900;
}
.head {
  font-size: 24px;
  color: #f9faf8;
}
.secondtext {
  color: #e5e7eb;
}
.infohead {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.contbox3 {
  background: #e5e7eb;
}
.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}
.foo {
  display: flex;
  height: 100px;
}
